html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #EDDCD2;
  font-family: 'Ranchers', cursive;
}

#title{
  font-size: 80px;
    color: #6b705c;
    text-align: center;
    text-decoration: underline;
    background-color: #DDBEA9;
}

#author{
  font-size: 40px;
  color: #6b705c;
  text-align: center;
  background-color: #DDBEA9;
}

#top {
  margin-top: 20px;
  text-align: center;
}

#content{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
}

#contentTitles{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
}

#serverContentTitles{
  display:grid;
  grid-template-columns: 100%;
}

#controlsTitles{
  display:grid;
  grid-template-columns: 100%;
}

#serverResponses{
  display:grid;
  grid-template-columns: 100%;
}

#toDoTitle {
  margin-top: 20px;
  font-size: 2em;
  text-align: center;
  background-color: #DDBEA9;
  color: #6b705c;
}

#doingTitle {
  margin-top: 20px; 
  font-size: 2em;
  text-align: center;
  background-color: #DDBEA9;
  color: #6b705c;
}

#almostDoneTitle {
  margin-top: 20px;
  font-size: 2em;
  text-align: center;
  background-color: #DDBEA9;
  color: #6b705c;
}

#doneTitle {
  margin-top: 20px;
  font-size: 2em;
  text-align: center;
  background-color: #DDBEA9;
  color: #6b705c;
}

#serverTitle {
  margin-top: 20px;
  font-size: 2em;
  text-align: center;
  background-color: #DDBEA9;
  color: #6b705c;
}

#controlsTitle {
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
  background-color: #DDBEA9;
  color: #6b705c;
}

#doingContent {
  height:400px;
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
  background-color: #F0EFEB;
  color: #6b705c;
  overflow-y: scroll;
}

#doneContent {
  height:400px;
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
  background-color: #F0EFEB;
  color: #6b705c;
  overflow-y: scroll;
}

#toDoContent {
  height:400px;
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
  background-color: #FFF1E6;
  color: #6b705c;
  overflow-y: scroll;
}

#almostDoneContent {
  height:400px;
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
  background-color: #FFF1E6;
  color: #6b705c;
  overflow-y: scroll;
}

#serverContent {
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
  background-color: #F0EFEB;
  color: #6b705c;
  border: 8px solid #DDBEA9;
}