html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #EDDCD2;
}

#title{
  font-size: 80px;
    color: #6b705c;
    text-align: center;
    text-decoration: underline;
    background-color: #DDBEA9;
}

#author{
  font-size: 40px;
  color: #6b705c;
  text-align: center;
  background-color: #DDBEA9;
}

#top {
  margin-top: 200px;
  text-align: center;
 
}

#content{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
 
}

#contentTitles{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
}


#doingTitle {
  margin-top: 20px;
  
  font-size: 1em;
  text-align: center;
  background-color: #DDBEA9;
  color: #6b705c;
}

#doneTitle {
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
  background-color: #DDBEA9;
  color: #6b705c;
}

#toDoTitle {
  
  margin-top: 20px;
  
  font-size: 1em;
 
  text-align: center;
  background-color: #DDBEA9;
  color: #6b705c;
}

#almostDoneTitle {
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
  background-color: #DDBEA9;
  color: #6b705c;
}

#doingContent {
  

  height:400px;
  margin-top: 20px;
  
  font-size: 1em;
  text-align: center;
  background-color: #F0EFEB;
  color: #6b705c;
  overflow: scroll;
}

#doneContent {
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
  background-color: #F0EFEB;
  color: #6b705c;
  overflow: scroll;
}

#toDoContent {
  margin-top: 20px;
  
  font-size: 1em;
 
  text-align: center;
  background-color: #FFF1E6;
  color: #6b705c;
  overflow: scroll;
}

#almostDoneContent {
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
  background-color: #FFF1E6;
  color: #6b705c;
  overflow: scroll;
}


#serverContent {
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
  background-color: #F0EFEB;
  color: #6b705c;
  border: 8px solid #DDBEA9;
  width:785px;
  height:200px;
}